html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
ul,
li,
img,
article,
details,
figure,
figcaption,
footer,
header,
nav,
output,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

:root {
  --green-clr: #44AA99;
  --yellow-clr: #DDCC77;
  --pink-clr: #CC6677;
  --purple-clr: #AA4499;
  --blue-clr: #0872A7;
  --light-clr: #F2F2F2;
  --white-clr: #FFFFFF;
  --gray-clr: #807E7E;
  --dark-gray-clr: #555454;
  --black-clr: #3e3a3a;
}

:root {
  --default-fs: 1rem;
  --tiny-fs: calc(var(--default-fs) * 0.75);
  --mini-fs: calc(var(--default-fs) * 0.8125);
  --small-fs: calc(var(--default-fs) * 0.9125);
  --big-fs: calc(var(--default-fs) * 1.0625);
  --large-fs: calc(var(--default-fs) * 1.125);
  --huge-fs: calc(var(--default-fs) * 1.25);
  --svg-fs: calc(var(--default-fs) * 1.5);
  --enormous-fs: calc(var(--default-fs) * 2);
}
@media screen and (min-width: 20rem) {
  :root {
    --default-fs: calc(1rem + 3 * ((100vw - 20rem) / 560));
  }
}
@media screen and (min-width: 90rem) {
  :root {
    --default-fs: 1.375rem;
  }
}

html {
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0 max(0.25rem, 2vw);
}
@media only screen and (min-width: 20rem) {
  .container {
    width: 96%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 34rem) {
  .container {
    width: 94.8%;
  }
}
@media only screen and (min-width: 48rem) {
  .container {
    width: 93.6%;
  }
}
@media only screen and (min-width: 62rem) {
  .container {
    width: 92.4%;
  }
}
@media only screen and (min-width: 76rem) {
  .container {
    width: 91.2%;
  }
}
@media only screen and (min-width: 90rem) {
  .container {
    width: 90%;
  }
}

.header {
  background-color: var(--light-clr);
  padding: 1rem 0;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (min-width: 48rem) {
  .header__content {
    text-align: start;
    flex-direction: row;
  }
}
.header__title {
  font-size: var(--enormous-fs);
  font-weight: 700;
}
.header__subtitle {
  margin-top: 0.25rem;
  font-size: var(--small-fs);
  color: var(--dark-gray-clr);
}
.header__navbar {
  margin-top: 1rem;
}
.header__navbar-item a {
  color: var(--gray-clr);
  text-decoration: none;
  font-weight: 500;
}
.header__navbar-item a.active {
  color: var(--purple-clr);
}
.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}
@media only screen and (min-width: 48rem) {
  .header__navbar {
    margin-top: 0;
  }
}

details {
  padding: 1rem;
}
details > summary {
  cursor: pointer;
  list-style-type: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary h2 {
  display: inline;
}

.main-content {
  margin-top: 1rem;
  margin-bottom: auto;
}
.main-content > * + * {
  margin-top: 1rem;
}
.main-content__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.main-content__section__body {
  line-height: 1.5;
  font-size: var(--tiny-fs);
}
.main-content__section__title {
  font-size: var(--huge-fs);
  font-weight: 700;
}
.main-content__section__figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content__section__img {
  max-height: 10rem;
}
.main-content__section__images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0;
}
.main-content__section__images-container img {
  max-height: 5rem;
}
@media only screen and (min-width: 20rem) {
  .main-content__section__images-container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 48rem) {
  .main-content__section__images-container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 48rem) {
  .main-content__section {
    flex-direction: row;
    align-items: flex-start;
  }
  .main-content__section > *:last-child {
    flex: 1 0 auto;
  }
  .main-content__section:nth-child(even) {
    flex-flow: row-reverse;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 0.75rem;
}
.grid__section {
  position: relative;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
}
.grid__section::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  border-radius: 1rem;
  left: 0;
  top: 0;
}
.grid__section:nth-child(5n)::before {
  background-color: var(--green-clr);
}
.grid__section:nth-child(5n+1)::before {
  background-color: var(--yellow-clr);
}
.grid__section:nth-child(5n+2)::before {
  background-color: var(--pink-clr);
}
.grid__section:nth-child(5n+3)::before {
  background-color: var(--purple-clr);
}
.grid__section:nth-child(5n+4)::before {
  background-color: var(--blue-clr);
}
.grid__section-heading {
  color: var(--dark-gray-clr);
  font-size: var(--big-fs);
  font-weight: 600;
}
.grid__section-text {
  margin-top: 0.375rem;
  line-height: 1.5;
  font-size: var(--tiny-fs);
}
@media only screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.footer {
  background-color: var(--light-clr);
  padding: 0.75rem 0;
  margin-top: 2rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}
@media only screen and (min-width: 36rem) {
  .footer__content {
    flex-direction: row;
  }
}
.footer__author {
  color: var(--dark-gray-clr);
  font-size: var(--mini-fs);
  font-weight: 500;
}
.footer__socials-svg {
  width: var(--svg-fs);
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--black-clr);
}/*# sourceMappingURL=style.css.map */