:root {
  // Accent colors 10%
  --green-clr: #44AA99;
  --yellow-clr: #DDCC77;
  --pink-clr: #CC6677;
  --purple-clr: #AA4499;
  --blue-clr: #0872A7;

  // Secondary color 30%
  --light-clr: #F2F2F2;

  // Main color 60%
  --white-clr: #FFFFFF;

  // Dark colors to make high contrast text
  --gray-clr: #807E7E;
  --black-color: #342F2F;
}