:root {
  --default-fs: 1rem;
  --tiny-fs: calc(var(--default-fs) * 0.75);
  --mini-fs: calc(var(--default-fs) * 0.8125);
  --small-fs: calc(var(--default-fs) * 0.9125);
  --big-fs: calc(var(--default-fs) * 1.0625);
  --large-fs: calc(var(--default-fs) * 1.125);
  --huge-fs: calc(var(--default-fs) * 1.25);
  --svg-fs: calc(var(--default-fs) * 1.5);
  --enormous-fs: calc(var(--default-fs) * 2);

  @media screen and (min-width: 20rem) {
    --default-fs: calc(1rem + 3 * ((100vw - 20rem) / 560));
  }

  @media screen and (min-width: 90rem) {
    --default-fs: 1.375rem;
  }
}

html {
  font-family: 'Inter', sans-serif;
}