@forward './globals/';
@forward './components/';

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: unset;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--black-clr);
}